{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Accueil{% endblock %}

{% block body %}

{% include 'header.html.twig' %}

	<div class="banner">
	<!-- start slider -->
       <div id="fwslider">
         <div class="slider_container">
            <div class="slide"> 
                <!-- Slide image -->
               <img src="images/slider1.jpg" class="img-responsive" alt=""/>
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- Text title -->
                        <h1 class="title">Run Over<br>Everything</h1>
                        <!-- /Text title -->
                        <div class="button"><a href="#">Voir les figures</a></div>
                    </div>
                </div>
               <!-- /Texts container -->
            </div>
            <!-- /Duplicate to create more slides -->
            <div class="slide">
               <img src="images/slider2.jpg" class="img-responsive" alt=""/>
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h1 class="title">Run Over<br>Everything</h1>
                       	<div class="button"><a href="#figures">Voir les figures</a></div>
                    </div>
                </div>
            </div>
            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
       </div>
       <!--/slider -->
      </div>
	  <div class="main">
	</div>
	<div class="features" id="figures">
		<div class="container">
			<h3 class="m_3">Figures</h3>
			<div class="close_but"><i class="close1"> </i></div>
			  <div class="row">
        {% for trick in tricks %}

        <div class="col-md-4 team1">
				<div class="img_section magnifier2">
				  <a class="fancybox" href="{{ path('trick_details', {'trickid': trick.id}) }}" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="{{ asset('images/tricks/grabs1.jpg') }}" class="img-responsive" width="361" height="268" style="margin-bottom: 10px;"><span> </span>
					<div class="img_section_txt">
						{{ trick.name }}
					</div>
				</a></div>
				</div>
        {% endfor %}
			</div>
		 </div>
	    </div>

{% include 'footer.html.twig' %}

{% endblock %}