{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Accueil{% endblock %}

{% block body %}

{% include 'header.html.twig' %}

	<div class="banner">
	<!-- start slider -->
       <div id="fwslider">
         <div class="slider_container">
            <div class="slide"> 
                <!-- Slide image -->
               <img src="images/slider1.jpg" class="img-responsive" alt=""/>
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- Text title -->
                        <h1 class="title">Run Over<br>Everything</h1>
                        <!-- /Text title -->
                        <div class="button"><a href="#">Voir les figures</a></div>
                    </div>
                </div>
               <!-- /Texts container -->
            </div>
            <!-- /Duplicate to create more slides -->
            <div class="slide">
               <img src="images/slider2.jpg" class="img-responsive" alt=""/>
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h1 class="title">Run Over<br>Everything</h1>
                       	<div class="button"><a href="#figures">Voir les figures</a></div>
                    </div>
                </div>
            </div>
            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
       </div>
       <!--/slider -->
      </div>
	  <div class="main">
	</div>
	<div class="features" id="figures">
		<div class="container">
			<h3 class="m_3">Figures</h3>
			<div class="close_but"><i class="close1"> </i></div>
			  <div class="row">
        {% for trick in tricks %}
				<div class="col-md-3 top_box" style="margin-bottom: 20px;">
					<div class="view view-ninth"><a href="single.html">
                    <img src="{{ asset('images/tricks/test.jpg') }}" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>{{ trick.name }}</h2>
                        <p>{{ trick.description|u.truncate(50) }}</p>
                      </div>
                    </a> </div>

				</div>
        {% endfor %}
			</div>
		 </div>
	    </div>

{% include 'footer.html.twig' %}

{% endblock %}