{% extends 'base.html.twig' %}{% block title %}SnowTricks - Connexion{% endblock %}{% block body %}{% include 'header.html.twig' %}
     <div class="main">
      <div class="shop_top">
		<div class="container">
<h1>Connexion</h1>
			<div class="row">
				<div class="col-md-12 contact">
				  <form method="post">

    {% if error %}
        <p><b><font color="red">Identifiants incorrects </font></b></p>
    {% endif %}

					<div class="to">
                        
                     	<input type="text" class="text" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" required>
					 	<input type="password" class="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">                   
                        <div class="form-submit">
			           <input name="submit" type="submit" id="submit" value="Connexion"><br>
			           </div>
                    </div>

	                <div class="clear"></div>
                   </form>
			     </div>
		    </div>
	     </div>
	   </div>
	  </div>

{% include 'footer.html.twig' %}

{% endblock %}
